.motto {
	background-color: #EAFAF4;
	height: 40vh;
	border: none;
  border-radius: 12px;
}

.positionText {
	font-size: 1.7vw;
	color: white;
  position: absolute;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.main {
  background: linear-gradient(to top right,
    #571881 50%, #40a7f7 50% 100%);
	height: 100vh;
}
.main1 {
  background: linear-gradient(to top right,
    #40a7f7 50%, #571881 50% 100%);
	height: 100vh;
}
